@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto+Slab:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  color: #9ea9b2;
}

.center {
  text-align: center;
}

form,
footer {
  margin: 0 1.0625rem;
}

body {
  background: #f3f3f3;
}

main,
footer.center {
  background: #fff;
}

h1 {
  text-transform: uppercase;
  padding: 1.0625rem 2.6875rem; /* 17px top and bottom, 43px left and right*/
  color: #fff;
  background-color: #2d3945;
  font-size: 1.5em;
}

h2 {
  padding: 1.0625rem 1.6875rem 0.4375rem 1.6875rem; /* 17px, 27px, 7px, 27px */
  color: #000;
}

.latest-news {
  margin: 0 0.875rem 1.375rem 0.875rem; /* 14px left and right, 22px bottom */
}

legend {
  display: none;
}

h3 {
  font-weight: 700;
  color: #000;
  margin: 1.0625rem auto 0.3125rem 0;
}

form p {
  padding: 0.75rem 0; /* 12px */
  font-weight: 300;
}

fieldset {
  border: none;
}

.section-1 {
  border-bottom: 3px solid #000;
  margin: 0 1.0625rem; /* 0px 18px */
}

.section-2 {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-top: 0.125rem;
  padding-bottom: 1.125rem; /* 18px */
}

.contact-form,
.flex,
.newsletter-form label[for="topics"] {
  display: flex;
  flex-direction: column;
  padding-top: 0.75rem; /* 12px */
  font-weight: 300;
  color: #9ea9b2;
}

.contact-form label,
.newsletter-form label[for="topics"] {
  padding-bottom: 00.5625rem; /* 9px */
}

input[type="text"],
input[type="email"],
input[type="tel"],
select#state {
  width: 100%;
  height: 1.9375rem; /* 31px */
  background-color: #eff0f1;
  border: none;
  padding: 1.5rem 0.75rem; /* 24px 12px 24px 12px */
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
textarea::placeholder {
  text-align: right;
  font-weight: 300;
  color: #9ea9b2;
  font-size: 0.75rem; /* 8px */
  font-style: italic;
}

select:disabled {
  font-size: 10px;
  color: #9ea9b2;
}

input[id="zip-code"] {
  height: 1.9375rem; /* 31px */
  background-color: #eff0f1;
  border: none;
  padding: 1.5rem 0.75rem 1.5rem 0; /* 24px 12px 24px 0px */
  width: 50%;
}

input[id="zip-code"]::placeholder {
  text-align: right;
  color: #9ea9b2;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 300;
  width: auto;
  border: none;
  border-style: none;
}

input[type="checkbox"],
input[type="radio"] {
  margin-bottom: 0.8125rem; /* 13px */
}

input:focus,
select:focus,
textarea:focus {
  outline-color: #46698b;
  transition: 0.4s ease-in;
}

textarea {
  width: 100%;
  height: 8rem; /* 128px */
  background-color: #eff0f1;
  border: none;
  border-radius: 3px;
  padding: 0.5rem;
}

button[type="submit"] {
  display: flex;
  justify-content: center;
  margin: 1.1875rem 0; /* 19px top and bottom, 0 left and right */
  padding: 0.8125rem 4.125rem; /* 13px top and bottom, 66px left and right */
  width: 100%;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  background-color: #4ebbb5;
  cursor: pointer;
}

button[type="submit"] a {
  color: #fff;
  text-decoration: none;
}

button[type="submit"]:hover {
  background-color: #99cdd6;
}

footer {
  font-weight: 300;
  font-size: 0.75rem; /* 12px */
  font-style: italic;
  padding-bottom: 7.75rem; /* 124px */
}

@media screen and (min-width: 768px) {
  main {
    margin: 0 11.25rem;
  }

  .contact-form .flex {
    flex-direction: row;
  }

  .contact-form input {
    flex-grow: 1;
    flex-basis: 75%;
  }

  .contact-form label {
    flex-basis: 25%;
    height: 50px;
    margin: auto 0;
  }

  main {
    max-width: 700px;
    margin: 0 auto;
    float: none;
  }

  select#state {
    width: 75%;
  }

  h1 {
    font-size: 1rem;
  }

  input[id="zip-code"] {
    max-width: 25%;
  }
}
